.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}

 /* fonts */
 form[name="REGISTER_DONAQUA_RF"] {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0em;
	color: #1F1F1F;
}
.plug-form__title, .order-inf__title,
.plug__plug-form__btn {
	font-weight: 500;
}
.form-field__input, .form-field__input::placeholder,
.market__title {
	font-family: Raleway;
}
.plug-form__title {
	font-size: 37px;
	line-height: 45px;
}
.plug-form__description {
	line-height: 24px;
}
.plug__plug-form__btn {
	font-size: 30px;
	line-height: 37px;
	color: #FFFFFF;
}
.order-inf__title {
	font-size: 24px;
	line-height: 29px;
	color: #62A9DF;
}
.market__title {
	line-height: 31px;
	color: #222222;
	margin-left: 10px;
}
/* end fonts */

form[name="REGISTER_DONAQUA_RF"] {
	width: 571px;
	height: 797px;
	background-color: white;
	border-radius: 10px;
}
#plug__reg-form {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: stretch;
	grid-template-rows: auto 94px;
}
.plug-form__content {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0px 46px;
}
.order-inf__inf-fields {
	display: flex;
	flex-direction: column;
}
.inf-fields__markets, .markets__single-market {
	display: flex;
	flex-direction: row;
}
.inf-fields__markets {
	justify-content: space-between;
	align-items: center;
}
.plug-form__form-field {
	height: 78px;
	border: 2px solid rgba(34, 34, 34, 0.2);
	border-radius: 10px;
	display: flex;
}
.plug-form__plug-fields .plug-form__form-field:not(:last-child) {
	margin-bottom: 22px;
}
.order-inf__inf-fields .plug-form__form-field {
	margin: 12px 0;
}
.form-field__icon {
	width: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plug-form__form-field .form-field__input {
	width: 85%;
	border: none;
	border-radius: 10px;
	font-size: 23px;
	line-height: 34px;
	background: unset;
}
.markets__single-market {
	height: 50px;
	border: 2px solid rgba(34, 34, 34, 0.2);
	border-radius: 10px;
	align-items: center;
	padding: 0 14px;
}
.market__box {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	cursor: pointer;
}
.single-market__box,
.market__box-custom {
	width: 20px;
	height: 20px;
	border: 2.68px solid #62A9DF;
	border-radius: 3px;
	margin-bottom: unset;
}
.market__box-custom {
	display: block;
    margin-top: -2px;
    margin-left: -2px;
}
.market__box-custom:after {
	content: "";
	display: none;
	width: 8px;
	height: 14px;
    margin-left: 4px;
    margin-top: -1px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.market__box:checked ~ .market__box-custom {
	background-color: #62A9DF;
}
.market__box:checked ~ .market__box-custom:after {
	display: block;
}
.plug__plug-form__btn {
	border: none;
	background: linear-gradient(75.95deg, #3282DF 16.28%, #70C769 87.18%);
	box-shadow: inset 0px 0px 39px #35C9CF;
	border-radius: 0px 0px 10px 10px;
}